# constraints database
src/borunte_moveit_config/config/constraints_approximation_database/

# From `catkin build` or 'catkin_make_isolated'
/.catkin_tools/
/build/
/devel/
/logs/
/build_isolated/
/devel_isolated/

# temoprarily generated pictures in /docs/
/docs/*.png
/docs/*.svg
/docs/.asciidoctor/

# From `astyle`
*.orig

# Linux
.directory
core
!core/

# Python
*.pyc

# IDEs
.cache
.idea
.vscode
*.user
*~

# Machinekit
autosave.halscope
