<?xml version="1.0"?>
<launch>

<arg name="tool" default="ezgripper_gen2_plus" />
<arg name="gui" default="True" />

<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find borunte_support)/urdf/borunte_on_stand.xacro' tool:=$(arg tool)"/>

<param name="use_gui" value="$(arg gui)" />

<node name="joint_state_publisher" pkg="joint_state_publisher"
type="joint_state_publisher" />

<node name="robot_state_publisher" pkg="robot_state_publisher"
type="state_publisher" />

<node pkg="rviz" type="rviz" name="rviz" args="-d $(find borunte_support)/config/borunte_stand.rviz"/>

</launch>
