<launch>
  <!-- pass arguments to other launch files-->
  <arg name="live_coding" default="false"/>
  <arg name="dev_mode" default="false"/>
  <arg name="tool" default="none"/>
  <arg name="sim" default="$(eval optenv('HAVE_REAL_HARDWARE', 'false') == 'false')"/>
  <arg name="hal_debug_level" default="1"/>

  <include file="$(find borunte_moveit_config)/launch/borunte_moveit_config.launch" >
    <arg name="rviz" value="false" />
    <arg name="tool" value="$(arg tool)" />
    <arg name="sim" value="$(arg sim)" />
    <arg name="hal_debug_level" value="$(arg hal_debug_level)"/>
  </include>

  <include file="$(find robot_command)/launch/interpreter_node.launch">
    <arg name="interpreter" value="execution"/>
  </include>

  <include file="$(find borunte_support)/launch/jogging.launch"/>

  <include file="$(find ros_machinetalk)/launch/machinetalk_manager.launch"/>

  <include file="$(find tag_tracking)/launch/elp_camera_cv_stream.launch" unless="$(arg sim)"/>
  <include file="$(find tag_tracking)/launch/tracking.launch"/>

  <include file="$(find robot_ui)/launch/robot_ui_moveit.launch">
    <arg name="live_coding" value="$(arg live_coding)"/>
    <arg name="dev_mode" value="$(arg dev_mode)"/>
  </include>
</launch>
