<?xml version="1.0"?>
<launch>
  <arg name="manager" default="camera_nodelet_manager"/>

  <include file="$(find tag_tracking)/launch/ar_track_alvar.launch">
    <arg name="output_frame" value="world"/>
    <arg name="use_cloud" value="false"/>
  </include>

  <include file="$(find barcode_tracking)/launch/barcode_detector.launch">
    <arg name="output_frame" value="world" />
    <arg name="manager" value="$(arg manager)"/>
    <arg name="use_manager" value="true"/>
  </include>
</launch>
