<launch>

  <!-- Don't run rviz by default -->
  <arg name="rviz" default="false"/>

  <!-- argument for a name of a tool on the end effector-->
  <arg name="tool" default="ezgripper_gen2_plus"/>

    <rosparam
      command="load"
      file="$(find borunte_moveit_config)/config/moveit_settings.yaml"
      />

  <include
      file="$(find borunte_moveit_config)/launch/moveit_planning_execution.launch"
      pass_all_args="true"
  />

</launch>
