<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="true"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- argument containing tool on end effector -->
  <arg name="tool"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="$(find xacro)/xacro --inorder '$(find borunte_support)/urdf/borunte_on_stand.xacro' tool:=$(arg tool)"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find borunte_moveit_config)/config/borunte_support.srdf" if="$(eval tool == 'none')"/>
  <param name="$(arg robot_description)_semantic" textfile="$(find borunte_moveit_config)/config/borunte_support_hand_e.srdf" if="$(eval tool == 'hand_e')"/>
  <param name="$(arg robot_description)_semantic" textfile="$(find borunte_moveit_config)/config/borunte_support_hand_e_fish_fingers.srdf" if="$(eval tool == 'hand_e_fish_fingers')"/>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find borunte_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find borunte_moveit_config)/config/kinematics.yaml"/>
  </group>

</launch>
