<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="borunte_on_stand_macro" params="robotprefix standprefix tool">

    <xacro:if value="${tool == 'none'}">
      <xacro:include filename="$(find borunte_support)/urdf/borunte_none_macro.xacro"/>
      <xacro:borunte_none_macro prefix="${robotprefix}"/>
    </xacro:if>

    <xacro:if value="${tool == 'hand_e'}">
      <xacro:include filename="$(find borunte_support)/urdf/borunte_hand_e_macro.xacro"/>
      <xacro:borunte_hand_e_macro prefix="${robotprefix}"/>
    </xacro:if>

    <xacro:if value="${tool == 'hand_e_fish_fingers'}">
      <xacro:include filename="$(find borunte_support)/urdf/borunte_hand_e_fish_fingers_macro.xacro"/>
      <xacro:borunte_hand_e_macro prefix="${robotprefix}"/>
    </xacro:if>

    <xacro:if value="${tool == 'ezgripper_gen2_plus'}">
      <xacro:include filename="$(find borunte_support)/urdf/borunte_ezgripper_gen2_plus_macro.xacro"/>
      <xacro:ezgripper_gen2_plus_macro prefix="${robotprefix}"/>
    </xacro:if>

    <xacro:include filename="$(find borunte_support)/urdf/borunte_stand_macro.xacro"/>
    <xacro:borunte_stand_macro prefix="${standprefix}"/>

    <!-- attach robot to stand flange -->
    <joint name="robot_attach_joint" type="fixed">
      <parent link="borunte_stand_flange"/>
      <child link="${robotprefix}base_link"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
