<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="borunte_none_macro" params="prefix">

    <xacro:include filename="$(find borunte_support)/urdf/borunte_macro.xacro"/>
    <xacro:borunte_macro prefix="${prefix}"/>

    <!-- ROS-Industrial 'tool0' frame: all-zeros tool frame -->
    <link name="${prefix}tool0" />
    <joint name="${prefix}flange-tool0" type="fixed">
      <!-- marker -->
      <origin xyz="0 0 0" rpy="0 ${pi*1} 0" />
      <parent link="${prefix}flange" />
      <child link="${prefix}tool0" />
    </joint>

  </xacro:macro>
</robot>
