<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="borunte_stand_macro" params="prefix">
    <!-- link list  -->
    <link name="${prefix}borunte_stand_link">
      <visual>
        <geometry>
          <mesh filename="package://borunte_support/meshes/borunte_carriage.stl"/>
        </geometry>
        <origin rpy="0.0 0 0.0" xyz="0 0 0"/>
        <material name="DarkGray">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://borunte_support/meshes/borunte_carriage.stl"/>
        </geometry>
        <origin rpy="0.0 0 0.0" xyz="0 0 0.016"/>
      </collision>
    </link>

    <!-- 'world' frame: default pose reference frame -->
    <link name="${prefix}world" />
    <joint name="${prefix}rb07_stand_link-world" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <parent link="${prefix}borunte_stand_link"/>
      <child link="${prefix}world"/>
    </joint>

    <!-- link the robot is going to be attached to -->
    <link name="${prefix}borunte_stand_flange" />

    <joint name="${prefix}borunte_stand_joint" type="fixed">
      <parent link="${prefix}borunte_stand_link"/>
      <child link="${prefix}borunte_stand_flange"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 ${pi/4.0}" xyz="0.0 0.0 0.735"/>
    </joint>

  </xacro:macro>
</robot>
