<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="robotiq_hand_e_base_macro" params="prefix">

    <material name="${prefix}Black_Aluminum">
      <color rgba="0.1 0.1 0.1 0.99"/>
    </material>

    <material name="${prefix}White_Plastic">
      <color rgba="0.9 0.9 0.9 0.99"/>
    </material>

    <link name="${prefix}borunte_robotiq_adapter">
      <visual>
        <geometry>
          <mesh filename="package://borunte_support/meshes/robotiq_adapter.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <material name="${prefix}White_Plastic"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://borunte_support/meshes/robotiq_adapter_collision.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </collision>
    </link>

    <link name="${prefix}robotiq_hand_e">
      <visual>
        <geometry>
          <mesh filename="package://borunte_support/meshes/robotiq_hand-e_gripper.stl"/>
        </geometry>
        <origin xyz="0 0 -0.003" rpy="0 0 0"/>
        <material name="${prefix}Black_Aluminum"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://borunte_support/meshes/robotiq_hand-e_gripper_collision.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>
    <joint name="${prefix}borunte_robotiq_adapter-robotiq_hand_e" type="fixed">
      <parent link="${prefix}borunte_robotiq_adapter" />
      <child link="${prefix}robotiq_hand_e" />
      <axis xyz="0 0 1"/>
      <origin xyz="0 0 0.015" rpy="${pi} ${pi} ${pi/2.0}" />
    </joint>

    </xacro:macro>
</robot>
