<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robotiq_hand_e_macro" params="prefix">

    <xacro:include filename="$(find borunte_support)/urdf/robotiq_hand_e_base_macro.xacro"/>
    <xacro:robotiq_hand_e_base_macro prefix="${prefix}"/>

    <link name="${prefix}simple_grip_finger_left">
      <visual>
        <geometry>
          <mesh filename="package://borunte_support/meshes/simple_grip_finger.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="Black_Aluminum"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://borunte_support/meshes/simple_grip_finger_collision.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0.0"/>
      </collision>
    </link>
    <joint name="${prefix}robotiq_hand_e-simple_grip_finger_left" type="fixed">
      <parent link="${prefix}robotiq_hand_e" />
      <child link="${prefix}simple_grip_finger_left" />
      <axis xyz="0 0 1"/>
      <origin xyz="0 0 0.095" rpy="0 0 ${pi/2.0}" />
    </joint>

    <link name="${prefix}simple_grip_finger_right">
      <visual>
        <geometry>
          <mesh filename="package://borunte_support/meshes/simple_grip_finger.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="Black_Aluminum"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://borunte_support/meshes/simple_grip_finger_collision.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0.0"/>
      </collision>
    </link>
    <joint name="${prefix}robotiq_hand_e-simple_grip_finger_right" type="fixed">
      <parent link="${prefix}robotiq_hand_e" />
      <child link="${prefix}simple_grip_finger_right" />
      <axis xyz="0 0 1"/>
      <origin xyz="0 0 0.095" rpy="0 0 -${pi/2.0}" />
    </joint>

  </xacro:macro>
</robot>
