<?xml version="1.0"?>
<launch>
  <!-- Arguments passed to other launch files -->
  <arg name="rviz" default="false"/>
  <arg name="tool" default="ezgripper_gen2_plus"/>
  <arg name="start_hardware" default="true"/>

  <!-- start the robot hardware if not already started -->
  <include if="$(arg start_hardware)" file="$(find borunte_support)/launch/hw_bringup.launch">
    <arg name="tool" value="$(arg tool)"/>
  </include>

  <!-- start the moveit config -->
  <include
      file="$(find borunte_moveit_config)/launch/borunte_moveit_config.launch"
      >
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="tool" value="$(arg tool)" />
  </include>
</launch>
